<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <p>
                <img src="{{data.images.[0].baseimageurl}}?width=200">
            </p>
            <p>
                I am a <mark>{{data.worktypes.[0].worktype}}</mark>. I go by <mark>{{data.title}}</mark>{{#if (gt data.titlescount 1)}}, and people have also referred to me by<mark>
                    {{#each data.titles}}
                        {{this.title}}{{#unless @last}}, {{/unless}}
                    {{/each}}</mark>
                {{/if}}.
                I came to life in <mark>{{data.dated}}</mark>{{#isTruthy data.period}} in the <mark>{{data.period}}</mark>{{/isTruthy}}{{#isTruthy data.places}} in <mark>{{data.places.[0].displayname}}</mark>{{/isTruthy}}.
                {{#isTruthy data.people}}
                <mark>
                {{#each data.people}}
                    {{this.name}}{{#unless @last}}, {{/unless}}
                {{/each}}
                </mark> 
                played a pivotal role in my creation.
                {{/isTruthy}}
                I belong to the <mark>{{data.culture}}</mark> culture. I’m made {{#isTruthy data.medium}}of <mark>{{data.medium}}</mark>{{/isTruthy}}{{#isTruthy data.technique}} in the technique of <mark>{{data.technique}}</mark>{{/isTruthy}}.
                {{#isTruthy data.dimNoFrame}}
                I measure <mark>{{data.dimNoFrame}}</mark>.
                {{else}}
                I measure <mark>{{data.dimensions}}</mark>.
                {{/isTruthy}}
            </p>
            <p>
                {{#isTruthy data.provenance}}
                    {{#if (lte data.provenancecount 3)}}
                    I used to belong to <mark>{{data.provenance}}</mark>.
                    {{else}}
                    I used to belong to <mark>{{data.provenancecount}}</mark> past owners.
                    {{/if}}
                {{/isTruthy}}
                {{#isTruthy data.accessionyear}}I came into the collection of the Harvard Art Museums in <mark>{{data.accessionyear}}</mark>, and{{/isTruthy}}I am now part of the <mark>{{data.division}}</mark> in my new home. 
                {{#if (eq data.publicationcount 1)}}
                    I have been discussed in <mark>{{data.publications.[0].title}}</mark> {{#isTruthy data.publications.[0].publicationyear}}in <mark>{{data.publications.[0].publicationyear}}</mark>{{/isTruthy}}.
                {{/if}}
                {{#if (gt data.publicationcount 1)}}
                    I’m very popular, as more than <mark>{{data.publicationcount}}</mark> people have talked about me in their publications. 
                {{/if}}
                {{#isTruthy data.gallery}}
                    If you are interested in meeting with me, I’m available on Level <mark>{{data.gallery.floor}}</mark>, Room <mark>{{data.gallery.galleryid}}</mark>, <mark>{{data.gallery.name}}</mark>, <mark>{{data.gallery.theme}}</mark>. I am in a room with <mark>{{data.gallery.details.objectcount}}</mark> other objects.               
                {{/isTruthy}}
            </p>
        </div>
        <div class="col-6">
            <pre>{{data.raw}}</pre>
        </div>
    </div>
</div>