  
    <div class="row">
        <div class="col-6">
            <p>
                <img src="{{data.images.[0].baseimageurl}}?width=200">
            </p>
            <p>
                I am a <mark>{{data.worktypes.[0].worktype}}</mark>. I go by <mark>{{data.title}}</mark>. I was created in <mark>{{data.dated}}</mark> in <mark>{{data.places.[0].displayname}}</mark>.
                <mark>
                {{#each data.people}}
                    {{this.name}}{{#unless @last}}, {{/unless}}
                {{/each}}
                </mark> played a pivotal role in my creation.
                I stand as a testament to the prosperity of the <mark>{{data.culture}}</mark> culture in the <mark>{{data.period}}</mark>. I’m made {{#isTruthy data.medium}}of <mark>{{data.medium}}</mark>{{/isTruthy}}{{#isTruthy data.technique}} in the technique of <mark>{{data.technique}}</mark>{{/isTruthy}}. I weigh <mark>{{data.dimensions}}</mark> and I was worth a <mark>{{data.details.coins.denomination}}</mark>.
                On the obverse side, my design captures: <mark>{{data.coinObv}}</mark> 
                The reverse side depicts: <mark>{{data.coinRev}}</mark> 
            </p>
            <p>
                {{#isTruthy data.provenance}}
                    I used to belong to <mark>{{data.provenance}}</mark>.
                {{/isTruthy}}
                {{#isTruthy data.accessionyear}}I came into the collection of the Harvard Art Museums in <mark>{{data.accessionyear}}</mark>, and{{/isTruthy}}I am now part of the <mark>{{data.division}}</mark> in my new home. 
                {{#if (eq data.publicationcount 1)}}
                    I have been discussed in <mark>{{data.publications.[0].title}}</mark> {{#isTruthy data.publications.[0].publicationyear}}in <mark>{{data.publications.[0].publicatonyear}}</mark>{{/isTruthy}}.
                {{/if}}
                {{#if (gt data.publicationcount 1)}}
                    I’m very popular, as more than <mark>{{data.publicationcount}}</mark> people have talked about me in their publications. 
                {{/if}}
                {{#isTruthy data.gallery}}
                    If you are interested in meeting with me, I’m available on Level <mark>{{data.gallery.floor}}</mark>, Room <mark>{{data.gallery.galleryid}}</mark>, <mark>{{data.gallery.name}}</mark>, <mark>{{data.gallery.theme}}</mark>. I am in a room with <mark>{{data.gallery.details.objectcount}}</mark> other objects.               
                {{/isTruthy}}
            </p>
            <hr>
            <p>
                <a href="{{data.url}}">Read the official version of this object on the HAM website</a>
            </p>            
        </div>
        <div class="col-6">
            <pre>{{data.raw}}</pre>
        </div>
    </div>